* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.stats {
    padding: 15px;
}
.row {
    display: flex;
    height: 100%;
    width: 100%;
}

.numberBox {
    display: flex;
    align-content: center;
    background: green;
    height: 100vh;
    width: 100%;
}

.column {
    /*flex: 1;*/
    align-content: top;
}

.red, .black, .green {
    width: 10vh;
    background: black;
    padding:4px;
}

.red{
    color: red;
}
.green{
    color: green;
}
.black{
    color: white;
}

.bot {
    background: red;
    height: 5vh;
}

.statBox{
    
    padding-left: 3px;
    background: antiquewhite;
}

.miniStat{
    display: flex;
    
}

.table, th, td {

}

.jeremy {
    display: flex;
    height: 150px;
    width: 150px;
}
/*/*
                <table>
                  <tr>
                    <th style="color: antiquewhite; border-color:antiquewhite;">........................</th>
                    <th style="color: antiquewhite; border-color: antiquewhite;">........................</th>
                  </tr>
                  <tr>
                    <th>ODD</th>
                    <th id="odd"></th>
                    
                  </tr>
                  <tr>
                    <th style="color: antiquewhite; border-color:antiquewhite;">........................</th>
                    <th style="color: antiquewhite; border-color: antiquewhite;">........................</th>
                  </tr>
                  <tr>
                </table>*/