* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    height: 100%;
    width: 100%;
}

.numberBox {
    display: flex;
    align-content: center;
    background: green;
    height: 95vh;
    width: 100%;
}

.column {
    /*flex: 1;*/
    align-content: top;
}

.red, .black, .green {
    width: 10vh;
    background: black;
}

.red{
    color: red;
}
.green{
    color: green;
}
.black{
    color: white;
}

.bot {
    background: red;
    height: 5vh;
}
